.floating-container{

position:absolute;

inset:0;

overflow:hidden;

}

.floating{

position:absolute;

bottom:-80px;

animation:float linear infinite;

opacity:.85;

user-select:none;

}

@keyframes float{

0%{

transform:
translateY(0)
rotate(0deg)
translateX(0);

opacity:0;

}

10%{

opacity:1;

}

50%{

transform:
translateY(-50vh)
rotate(180deg)
translateX(40px);

}

100%{

transform:
translateY(-120vh)
rotate(360deg)
translateX(-40px);

opacity:0;

}

}